<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>The Tech Blog</title>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/dashboard">
          Dashboard
        </a>
        <a id="logout" href="#" class="navbar-item">
          Log Out
        </a>
      </div>
    </div>
  </nav>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>