<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <!-- Compiled and minified JavaScript -->
    <title>Everything Tech</title>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
         Dashboard
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            {{#if logged_in}}
            <a id="logout" class="button is-light">
              Log Out
            </a>
            {{else}}
            <a class="button is-light">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main>
  {{body}}
  </main>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>copyright &copy;2023 Everything Tech.</p>
    </div>
  </footer>
</body>

</html>

<script src="/js/logout.js"></script>
