/* :root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
} */

/* * {
  box-sizing: border-box;
} */

.bodyMargins {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 1;
}
.myCard {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #e5e7eb;
}


.postDiv {
  margin-top: 100px;
}

/*Not working for some reason*/
footer {
  width: 100%;
}
  

